<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="display: flex ; justify-content: center;align-items: center">

<div>
    <form style="display:flex ; width: 500px ; height: 500px ;  flex-direction: column ;  justify-content: center ; align-items: center ;background: aquamarine "
          action="/registration" method="post">
        <label>Registration</label>
        <input style="margin-bottom: 10px; width: 300px;height: 30px ; border-radius: 10px" type="text" name="name"
               placeholder="enter name">
        <input style="margin-bottom: 10px; width: 300px;height: 30px ; border-radius: 10px" type="text" name="lastname"
               placeholder="enter lastname">
        <input style="margin-bottom: 10px; width: 300px;height: 30px ; border-radius: 10px" type="number" name="age"
               placeholder="enter age">
        <input style="margin-bottom: 10px; width: 300px;height: 30px ; border-radius: 10px" type="text" name="login"
               placeholder="enter login">
        <input style="margin-bottom: 10px; width: 300px;height: 30px ; border-radius: 10px" type="text" name="password"
               placeholder="enter password">
        <input type="submit" value="ok">
    </form>
</div>
</body>
</html>